.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 120px;
  position: relative;
  margin-bottom: -228px;
}

.header__block__tel {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.header__tel {
  font-weight: 400;
  font-size: 23.85px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.header__tel__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
}

.tel_mobile {
  display: none;
}

@media (max-width: 1024px) {
  .logo__img {
    width: 60px;
    height: 60px;
  }

  .header__wrap {
    padding-bottom: 70px;
  }

  .header__tel {
    font-size: 21px;
    line-height: 25px;
  }

  .header__tel__text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 320px) {
  .logo__img {
    width: 30px;
    height: 30px;
  }

  .header__wrap {
    padding-bottom: 70px;
  }

  .header__tel {
    font-size: 21px;
    line-height: 25px;
  }

  .header__tel__text {
    font-size: 13px;
    line-height: 15px;
  }

  .tel_mobile {
    display: block;
  }
  .header__tel,
  .header__tel__text {
    display: none;
  }
}


